* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "roboto";
}
/* HEADER SECTION */

header {
  background-color: #1f2937;
}
.header-container {
  max-width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  color: #fff;
  padding: 24px;
}

.header-list {
  display: flex;
  list-style: none;
  font: 18px;
  color: #e5e7eb;
  gap: 24px;
}

.header-container p {
  font-weight: 700;
  font: 24px;
  color: #f9faf8;
}

/* HERO SECTION */
.hero-container {
  height: 50vh;
  background-color: #1f2937;
}

.hero {
  max-width: 80%;
  display: Flex;
  justify-content: space-between;
  margin: 0 auto;

  padding: 48px 24px 24px 24px;
}

.hero-left h1 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
  width: 400px;
}

.hero-left p {
  font-size: 18px;
  color: #e5e7eb;
  width: 400px;
}

.hero-left a {
  display: inline-block;
  margin-top: 8px;
  color: #f9faf8;
  text-decoration: none;
  background-color: #3882f6;
  padding: 8px 24px;
  border-radius: 8px;
}

.hero-left a:hover {
  color: #e5e7eb;
}
.hero-right {
  background-color: grey;
  width: 500px;
  display: Flex;
  justify-content: center;
  align-items: center;
  color: #f9faf8;
}
